<footer class="site-footer">
  <div class="wrapper">
    <div class="site-brand">
      <a href="{{ site.url }}"><img src="{{ '/assets/images/logo-footer.png' | relative_url }}" alt="Ilustração de um besouro" />
        Besouro Filmes
      </a>
    </div>
    <div class="contact-links">
      <p><a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a><br />
        <a href="https://vimeo.com/{{ site.contact.vimeo }}">Vimeo</a> / <a href="https://www.facebook.com/{{ site.contact.facebook }}">Facebook</a>
    </div>
    <div class="contact-address">
      <address>
        Rua Castro Alves, 163<br />
        Porto Alegre, RS — Brasil<br />
        <a href="tel:+555130624400">+55 51 3062-4400</a>
      </address>
    </div>
  </div>
</footeR>
