<footer class="site-footer">
  <div class="wrapper">
    <div class="site-brand">
      {% if page.lang == 'en' %}
      <a href="{{ site.url }}"><img src="{{ '/assets/media/logo-footer.png' | relative_url }}" alt="Illustration of a beetle" />
        Besouro Filmes
      </a>
      {% else %}
      <a href="{{ site.url }}"><img src="{{ '/assets/media/logo-footer.png' | relative_url }}" alt="Ilustração de um besouro" />
        Besouro Filmes
      </a>
      {% endif %}
    </div>
    <div class="contact-links">
      <p><a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a><br />
        <a href="https://vimeo.com/{{ site.contact.vimeo }}">Vimeo</a> / <a href="https://www.facebook.com/{{ site.contact.facebook }}">Facebook</a>
    </div>
    <div class="contact-address">
      {% if page.lang == 'en' %}
      <address>
        Rua Castro Alves, 163<br />
        Porto Alegre, RS — Brazil<br />
        <a href="tel:+555130624400">+55 51 3062-4400</a>
      </address>
      {% else %}
      <address>
        Rua Castro Alves, 163<br />
        Porto Alegre, RS — Brasil<br />
        <a href="tel:+555130624400">+55 51 3062-4400</a>
      </address>
      {% endif %}
    </div>
  </div>
</footeR>
