<header class="masthead">
  {% assign lang = page.lang | default: 'pt' %}
  {% if lang == 'en' %}
    <a class="site-title" href="{{ '/en/' | relative_url }}">{{ site.title }}</a>
  {% else %}
    <a class="site-title" href="{{ site.url }}">{{ site.title }}</a>
  {% endif %}

  <nav class="main-menu">
    {% assign menu = site.data.menus[lang] %}

    {% for item in menu %}
    <a href="{{ item.url }}">{{ item.name }}</a>
    {% endfor %}

    {% if lang == 'en' %}
    <a class="lang-link" href="{{ '/' | relative_url }}" hreflang="pt">
      {% include parts/symbol.svg id="pt" title="Visitar o site em português" role="img" %}
    </a>
    {% else %}
    <a class="lang-link" href="{{ '/en/' | relative_url }}" hreflang="pt">
      {% include parts/symbol.svg id="en" title="Visit the English website" role="img" %}
    </a>
    {% endif %}
  </nav>
</header>
