<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.url }}">{{ site.title }}</a>

    <nav class="site-nav">
      <input type="checkbox" name="nav-trigger" id="nav-trigger" />
      <label for="nav-trigger" class="menu-toggle" aria-label="Menu de navegação">
        {% include svg/three-bars.svg %}
      </label>

      <ul class="menu">
        <li><a href="{{ '/projetos/cinema/' | relative_url }}">Cinema</a></li>
        <li><a href="{{ '/projetos/tv/' | relative_url }}">TV</a></li>
        <li><a href="{{ '/projetos/desenvolvimento/' | relative_url }}">Projetos</a></li>
        <li><a href="{{ '/sobre/' | relative_url }}">Sobre</a></li>
        <li><a href="https://arthr.me/besouro-english/">{% include svg/us.svg %}</a></li>
      </ul>
    </nav>
  </div>
</header>
