<!-- Open Graph :/ -->
<meta property="og:title" content="{{ page.title | default: site.title | strip_html | normalize_whitespace }}" />
<meta property="og:site_name" content="{{ site.title }}" />
{% if page.title %}
<meta property="og:type" content="article" />
<meta name="twitter:card" content="summary_large_image" />
{% else %}
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
{% endif %}
<meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | strip_newlines | normalize_whitespace | escape | truncate: 140 }}" />
{% if page.media.image %}
<meta property="og:image" content="{{ page.media.image | absolute_url }}" />
{% else %}
<meta property="og:image" content="{{ '/assets/images/opengraph.jpg' | absolute_url }}" />
{% endif %}
