/*
    Basic styling
*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: #{$font-weight-base} #{$font-size-base}/#{$font-line-height} $font-family-base;
  color: $color-text;
}

/*
    Text Elements
*/

p, ul, ol, dl,
figure, table, address,
iframe, object, embed {
  margin-bottom: $spacing-unit;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

abbr {
  border-bottom: 0.1rem dotted $color-accent;
  cursor: help;
}

// Links
a,
a:visited {
  color: $color-accent;
  transition: color 0.25s linear;
  text-decoration: underline;
  text-decoration-color: $color-text;
  text-decoration-skip: ink;
  text-decoration-skip-ink: auto;

  &:hover,
  &:focus {
    color: $color-text;
  }
}
