/*
    Basic Styles
*/
body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-text;
}

::selection {
  background-color: $color-text;
  color: $color-background;
}

::-moz-selection {
  background-color: $color-text;
  color: $color-background;
}

/*
    Links
*/
a {
  color: $color-brand;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/*
    Images and Figures
*/
img {
  max-width: 100%;
}

/*
    Text Elements
*/
p, pre
ul, ol, dl,
table, address, blockquote,
object, iframe, video, figure {
  &:not(:last-child) {
    margin-bottom: $spacing-unit / 2;
  }
}

em, i, address {
  font-style: italic;
}

strong, b, dt, th {
  font-weight: 700;
}
