@font-face {
	font-family: 'goth';
	src: url('fonts/goth-bolditalic.woff2') format('woff2'),
       url('fonts/goth-bolditalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'goth';
	src: url('fonts/goth.woff2') format('woff2'),
		   url('fonts/goth.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'goth';
	src: url('fonts/goth-bold.woff2') format('woff2'),
	     url('fonts/goth-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'goth';
	src: url('fonts/goth-light.woff2') format('woff2'),
		   url('fonts/goth-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'goth';
	src: url('fonts/goth-italic.woff2') format('woff2'),
		   url('fonts/goth-italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
