@font-face {
	font-family: 'campton';
	src: url('fonts/campton-bolditalic.woff2') format('woff2'),
       url('fonts/campton-bolditalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'campton';
	src: url('fonts/campton.woff2') format('woff2'),
		   url('fonts/campton.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'campton';
	src: url('fonts/campton-bold.woff2') format('woff2'),
	     url('fonts/campton-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'campton';
	src: url('fonts/campton-light.woff2') format('woff2'),
		   url('fonts/campton-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'campton';
	src: url('fonts/campton-italic.woff2') format('woff2'),
		   url('fonts/campton-italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
