/*
  The fonts used in this site.
*/

// Prata
@font-face {
  font-family: 'Prata';
  src: url('fonts/prata.woff2') format('woff2'),
       url('fonts/prata.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

// Rubik
@font-face {
  font-family: 'Rubik';
  src: url('fonts/rubik.woff2') format('woff2'),
       url('fonts/rubik.woff') format('woff');
 font-weight: 400;
 font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('fonts/rubik-light.woff2') format('woff2'),
       url('fonts/rubik-light.woff') format('woff');
 font-weight: 300;
 font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('fonts/rubik-bold.woff2') format('woff2'),
       url('fonts/rubik-bold.woff') format('woff');
 font-weight: 700;
 font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('fonts/rubik-italic.woff2') format('woff2'),
       url('fonts/rubik-italic.woff') format('woff');
 font-weight: 400;
 font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('fonts/rubik-bolditalic.woff2') format('woff2'),
       url('fonts/rubik-bolditalic.woff') format('woff');
 font-weight: 700;
 font-style: italic;
}
