/*
  Basic Structure and Frame Borders
*/
html {
  height: 100%;
}

body {
  background-color: $color__text;

  &:before,
  &:after {
    background: inherit;
    content: ' ';
    display: block;
    height: $spacing-unit / 2;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99;

    @include media-query($on-palm) {
      height: $spacing-unit / 4;
    }
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

.site-container {
  background-color: none;
  margin: $spacing-unit / 2;

  &:before,
  &:after {
    background: $color__text;
    content: ' ';
    display: block;
    width: $spacing-unit / 2;
    top: 0;
    position: fixed;
    height: 100%;
    z-index: 99;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  @include media-query($on-palm) {
    margin: $spacing-unit / 4;

    &:before,
    &:after {
      width: $spacing-unit / 4;
    }
  }
}

/*
    Video Background
*/
.fullscreen-video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }
}

/*
Site structure
*/
.site-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .site-header,
  .site-content,
  .site-footer {
    flex: 1;
  }

  .site-content {
    min-height: calc(100vh - 5.6rem);
  }
}

.wrapper {
  width: 100%;
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-left: auto;
  margin-right: auto;

  @include media-query($on-laptop) {
    max-width: calc(#{$content-width} - #{$spacing-unit});
  }

  @include media-query($on-palm) {
    max-width: calc(#{$content-width} - ($spacing-unit / 2));
  }
}

/*
    Site Header
*/
.site-header {
  margin-top: $spacing-unit;

  .site-title {
    display: inline-block;
    width: 20rem;
    height: 3.6rem;
    color: transparent;
    text-indent: -9999rem;
    overflow: hidden;
    background-image: url('images/logo.png');
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;

    @include media-query($on-palm) {
      display: block;
      margin: 0 auto;
    }
  }

  .site-navigation {
    float: right;

    @include media-query($on-palm) {
      float: none;
      text-align: center;
    }

    ul {
      li {
        display: inline-block;
        line-height: 3.6rem;
        font-size: $font__size * .75;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        &:not(:last-child) {
          padding: 0 $spacing-unit / 2 0 0;
        }

        a {
          color: $color__text;
        }
      }
    }
  }
}


/*
  Site Footer
*/
.site-footer {
  background: $color__text;
  color: $color__background;
  font-size: $font__size * .75;
  padding: $spacing-unit * 2 0;

  a {
    text-decoration: none;
    color: lighten($color__background, 30%);

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .wrapper {
    @include row;

    .site-title,
    .contact-links,
    .contact-address {
      @include col(1,3);
    }

    .site-title {
      height: 6rem;
      background-image: url('images/logo-footer.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left top;
      overflow: hidden;
      text-indent: -99999rem;
      color: transparent;
      display: inline-block;

      @include media-query($on-palm) {
        background-position: center top;
        margin-bottom: $spacing-unit;
      }
    }

    .contact-links {
      text-align: center;

      svg {
        height: 1.2rem;
        width: auto;
        vertical-align: middle;

        path {
          fill: lighten($color__background, 30%);
        }
      }

      @include media-query($on-palm) {
        line-height: 2;
        margin-bottom: $spacing-unit;
      }
    }

    .contact-address {
      text-align: right;

      @include media-query($on-palm) {
        text-align: center;

      }
    }
  }
}
