/*
    Basic structure
*/
body {
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;

  .masthead,
  .page {
    flex: 0 0 auto;
  }

  .colophon {
    flex: 1 0 auto;
  }
}

/*
    Site Header
*/
.masthead {
  @extend %wrapper;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;

  .site-title {
    background: no-repeat center/cover url("/assets/media/logo.png");
    color: transparent;
    font-size: 0;
    line-height: 0;
    display: block;
    width: 9.5rem;
    height: 5.6rem;
  }

  .main-menu {
    display: inline-block;
    line-height: 5.6rem;
    user-select: none;

    a {
      text-decoration: none;

      &:not(:first-child) {
        margin-left: $spacing-unit;
      }
    }

    .lang-link {
      svg {
        width: $font-size-base * $font-line-height;
        height: $font-size-base * $font-line-height;
        vertical-align: middle;
      }
    }
  }

  @include on-laptop {
    .site-title {
      float: left;
    }

    .main-menu {
      float: right;
    }
  }

  @include on-palm {
    .site-title {
      margin-left: auto;
      margin-right: auto;
    }

    .main-menu {
      display: flex;
      overflow-x: scroll;
      margin-left: -$spacing-unit / 2;
      margin-right: -$spacing-unit / 2;
      padding-left: $spacing-unit / 2;
      padding-right: $spacing-unit / 2;

      .lang-link {
        padding-right: $spacing-unit / 2;
      }
    }
  }
}
