%wrapper {
  width: 100%;
  max-width: calc(#{$wrapper-width} - #{$spacing-unit});
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
  margin-left: auto;
  margin-right: auto;

  @extend %colophon;
}

%colophon {
  &:after {
    content: "  ";
    clear: both;
    float: none;
  }
}

@mixin on-palm {
  @media screen and (max-width: $palm-width) {
    @content;
  }
}

@mixin on-laptop {
  @media screen and (min-width: $palm-width) {
    @content;
  }
}
