---
layout: scaffolding
---

{% if page.categories %}
  {% if page.categories == 'development' %}
    {% assign projects = site.projects | sort: 'year' | where: 'categories', page.categories | where: 'lang', page.lang %}
  {% else %}
    {% assign projects = site.projects | sort: 'year' | where: 'categories', page.categories | where: 'lang', page.lang | reverse %}
  {% endif %}
{% else %}
{% assign projects = site.projects | sort: 'year' | where: 'lang', page.lang | reverse %}
{% endif %}

{% for project in projects limit:1 %}
  <figure class="project featured">
    {% if project.media.video %}
    <video autoplay loop muted playsinline poster="{{ project.media.image }}">
      <source src="{{ project.media.video }}" type="video/mp4" />
      <img src="{{ project.media.image  }}" alt="Imagem de “{{ project.title }}”" />
    </video>
    {% else %}
    <a href="{{ project.url | relative_url }}">
      <img src="{{ project.media.image }}" alt="Imagem de “{{ project.title }}”" />
    </a>
    {% endif %}
    <figcaption>
      <a href="{{ project.url | relative_url }}" title="{{ project.title }}">
        <strong>{{ project.title }}</strong><br />
        {{ project.year }} / {{ project.tags | join: ' / ' }} / <abbr title="{% if page.lang == 'en' %}Directed by{% else %}Direção{% endif %}">D:</abbr> {{ project.team.director }}
      </a>
    </figcaption>
  </figure>
{% endfor %}

<ul class="project-list">
  {% for project in projects offset: 1 %}
  <li>
    <figure class="project">
      <a href="{{ project.url | relative_url }}">
        <img src="{{ project.media.image }}" alt="Imagem de “{{ project.title }}”" />
      </a>
      <figcaption>
        <a href="{{ project.url | relative_url }}">
          <strong>{{ project.title }}</strong><br />
          {{ project.year }} / {{ project.tags | join: ' / ' }}
        </a>
      </figcaption>
    </figure>
  </li>
  {% endfor %}
</ul>
