---
layout: default
---

<article class="project-page">
  <figure class="project-cover">
  {% if page.media.trailer %}
  <iframe src="{{ page.media.trailer | replace:'https://vimeo.com/','https://player.vimeo.com/video/' | append: '?color=929487&title=0&byline=0&portrait=0' }}" width="890" height="500" allowfullscreen></iframe>
  {% else %}
  <img src="{{ page.media.image }}" alt="Imagem do projeto" />
  {% endif %}
  </figure>

  <header class="project-header">
    <h1>{{ page.title }}</h1>
    {% if page.o_title %}
    <p class="original-title">{{ page.o_title }}</p>
    {% endif %}
    <p>{{ page.year }} <span role="separator">/</span> {{ page.format }} <span role="separator">/</span> {{ page.genre }}</p>
    {% if page.team.director == page.team.writer %}
      {% if page.lang == 'en' %}
      <p><span>Written and directed by</span> {{ page.team.director }}</p>
      {% else %}
      <p><span>Escrito e dirigido por</span> {{ page.team.director }}</p>
      {% endif %}
    {% else %}
      {% if page.lang == 'en' %}
      <p><span>Directed by</span> {{ page.team.director }}</p>
      {% else %}
      <p><span>Dirigido por</span> {{ page.team.director }}</p>
      {% endif %}
      {% if page.lang == 'en' %}
      <p><span>Written by</span> {{ page.team.writer }}</p>
      {% else %}
      <p><span>Escrito por</span> {{ page.team.writer }}</p>
      {% endif %}
    {% endif %}
    {% if page.team.copro %}
      {% if page.lang == 'en' %}
      <p><span>Production Companies:</span> {{ page.team.copro }}</p>
      {% else %}
      <p><span>Produção:</span> {{ page.team.copro }}</p>
      {% endif %}
    {% endif %}
    {% if page.funds %}
      {% if page.lang == 'en' %}
      <p><span>Funds:</span> {{ page.funds | join: ', '}}</p>
      {% else %}
      <p><span>Financiamento:</span> {{ page.funds | join: ', '}}</p>
      {% endif %}
    {% endif %}
  </header>

  <div class="project-content">
    {{ content }}
  </div>
</article>
