---
layout: default
---

<article class="project-page" role="article">
  <figure class="project-cover">
  {% if page.media.trailer %}
  <iframe src="{{ page.media.trailer | replace:'https://vimeo.com/','https://player.vimeo.com/video/' | append: '?color=929487&title=0&byline=0&portrait=0' }}" width="890" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  {% else %}
  <img src="{{ page.media.image | relative_url }}" alt="Imagem do projeto" />
  {% endif %}
  </figure>

  <header class="project-header">
    <h1>{{ page.title }}</h1>
    {% if page.o_title %}
    <p class="original-title">{{ page.o_title }}</p>
    {% endif %}
    <p>{{ page.year }} <span role="separator">/</span> {{ page.format }} <span role="separator">/</span> {{ page.genre }}</p>
    {% if page.team.director == page.team.writer %}
    <p><span>Escrito e dirigido por</span> {{ page.team.director }}</p>
    {% else %}
    <p><span>Dirigido por</span> {{ page.team.director }}</p>
    {% endif %}
    {% if page.team.copro %}
    <p><span>Co-produção:</span> {{ page.team.copro }}</p>
    {% endif %}
    {% if page.funds %}
    <p><span>Financiamento:</span> {{ page.funds | join: ', '}}</p>
    {% endif %}
  </header>

  <div class="project-content">
    {{ content }}
  </div>
</article>
